<h2>Description</h2>
<br>
L'éclairage public est un service essentiel des communes qui fait face à des enjeux aussi divers qu'importants.<br>
<br>
<ul>

<li>Sociétaux, une voie bien éclairée est une voie où les accidents sont réduits, où les utilisateurs
se sentent en sécurité.</li>
<li>Economiques, le budget de l'éclairage représente en moyenne 1 à 2% du budget total des collectivités, sans oublier
toutes les questions que soulève la production de cette énergie et de son acheminement.</li>
<li>Ecologiques, une lumière nocturne perturbe les êtres vivants sous plusieurs aspects : physiologique, comportemental, population, interactions...<br><br>
</li></ul>

Les problématiques sont variées et parfois contradictoires :<br>
En effet, il est bien difficile d'éclairer un trottoir sans impacter l'arbre sur celui-ci.<br>
<br>
Il y a quelques années, deux méthodes d'éclairage étaient envisagées par les communes :
<ul>
    <li>Eclairage régulier toute la nuit</li>
    <li>Extinction totale</li>
</ul>
Depuis l'apparition des ampoules Leds et leur capacité à varier leur intensité, une solution intermédiaire est envisagée :<br>
Eteindre les luminaires ou réduire leurs intensités lumineuses sur une plage horaire pré-définie.<br>
<br>
L'objectif de ce projet est de pousser cet élan en proposant une visualisation plus fine des axes de déplacement à éclairer, selon l'heure et le jour de la semaine.<br>
Au niveau d'une ville certes mais également au niveau des armoires de luminaires quand cela est possible.<br>
En effet, les besoins en éclairage peuvent fortement varier d'une rue à l'autre, d'un jour à l'autre.<br>
<br>
<br>
Pour cela, le projet distingue deux types de données :
<ul>
    <li>Les conflictuels : les intersections de route, les passages piétons, les arrêts de bus, les travaux sur la voirie : se sont les endroits où la vigilance est de mise.</li>
    <li>Les influenceurs : les résidences, les magasins, les écoles, les écoles, les hôpitaux : se sont les lieux qui vont, selon leurs horaires d'ouverture, générer des déplacements.</li>
</ul>
<br>
En croisant ces deux informations, l'on peut définir où sont les points de vigilance et à quelles heures ils le sont.<br>
Il y a une relation forte entre un point de vigilance et sa fréquentation.<br>
En effet, un arrêt de bus, a un impact qu'aux horaires où il est desservi.<br>
Un nid de poule ne pose aucun problème sur une route fermée à la circulation.<br>
<br>
Sur les différentes cartes vous pourrez observer des zones de chaleur qui représente la densité des points conflictuels.<br>
Une zone bleue représente un espace où cette densité est faible, les zones rouges représentent l'inverse.<br>
Les zones non colorées sont des espaces où aucun point de vigilance n'a été relevé.<br>
<br>
Ainsi, il est possible de connaître les zones où les besoins en éclairage peuvent être importants mais également l'inverse,
c'est-à-dire les zones où il peut être envisagé de réduire l'intensité lumineuse des luminaires.<br>
<br>
Dans tous les cas, cette décision revient aux services compétents.<br>
Ce projet n'est qu'un outil de visualisation, un outil pédagogique, mais n'est en aucun cas un outil de prise de décision.<br>
<br>

