<div id="mosaic">
    <div class="row justify-content-center">
        <p>Les plus visitées :</p>
        {% for city in cities %}
            <div class="col-lg-4 col-md-6 col-xs-12">
                <a href="/?user_search={{ city.postal_code }}">
                    <div class="city_presentation">
                        <p>{{ city.name }}</p>
                        {% if city.img_file %}
                            <img class="image" src="{{ city.img_file }}" alt="city img map">
                        {% else %}
                            <p class="no-image">Aucun aperçu disponible.</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
