{% extends 'templates/layouts/base.html' %}
{% load static %}
{% load leaflet_tags %}

{% block content %}
    <div id="city_map">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
        <div class="leaflet-bottom leaflet-left">
            <div class="leaflet-bar leaflet-bar-horizontal leaflet-bar-timecontrol leaflet-control">
                <a class="leaflet-control-timecontrol timecontrol-backward" href="#" title="Backward"></a>
                <a class="leaflet-control-timecontrol timecontrol-play play" href="#" title="Play"></a>
                <a class="leaflet-control-timecontrol timecontrol-forward" href="#" title="Forward"></a>
                <a class="leaflet-control-timecontrol timecontrol-date" href="#" title="Date">{{ layer_date }}</a>
                <div class="leaflet-control-timecontrol timecontrol-slider timecontrol-dateslider">
                    <div class="slider">
                        <div class="knob main" style="transform: translate3d({{ timecontrol_position }}px, 0px, 0px);">
                        </div>
                    </div>
                </div>
                <div class="leaflet-control-timecontrol timecontrol-slider timecontrol-speed">
                    <span class="speed">1fps</span>
                    <div class="slider">
                        <div class="knob" style="transform: translate3d(5px, 0px, 0px);">
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/heatmapjs@2.0.2/heatmap.js"></script>
        <!--<script src="https://cdn.jsdelivr.net/npm/leaflet-heatmap@1.0.0/leaflet-heatmap.js"></script>-->
        <script src="{% static 'js/maps/leaflet_heat.js' %}"></script>
        <script src="{% static 'js/maps/show.js' %}"></script>
        {% leaflet_map "city_map" callback="window.show_map" %}

    </div>
{% endblock %}
